body{
    background-size: cover;
    background-image: url(/Images/maxresdefault.jpg);
    width: 100vw;
    height: 100vh;
}
.suprise{
    width: 64px;
    height: 64px;
    position: absolute; 
    left: 735px; 
    top: 570px;
    border-radius: 50%;
    /* background-color: black; */
    background-image: url(/Images/1644640019085.png);
}
ul li {
    color: white;
}
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;

}

.play-on-hover {
    width: 64px;
    height: 64px;
    background-image:url(/Images/statick.png) ;
    background-size: cover;
    cursor: pointer;
    border-radius: 10px;
    position: absolute;
    left: 749px;
    top: 25px;

}

.play-on-hover:hover{
    width: 640px;
    height: 640px;
    background-image: url(/Images/animento.gif);
}
